<div class="home_section" fxLayout="column" fxLayoutAlign=" space-around center">
    <div class="cover_img_section">
        <img src="assets/images/Cover3.jpg" alt="cover_img" class="cover_img" />
        <!--        <img src="assets/images/cover.jpg" alt="cover_img" class="cover_img"/>-->
    </div>
    <div class="content_section">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <!--            <div class="cover_title_text">-->
            <!--                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.-->
            <!--                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,-->
            <!--                as opposed to using 'Content here, content here'-->
            <!--            </div>-->
            <div class="cover_title_text">

                এই ওয়েবসাইট দিয়ে চাইলেই খুবই সহজে মাত্র পাঁচ সেকেন্ডে আপনার প্রিয় প্রার্থীর সাথে তৈরি
                করতে পারেন একটি স্মার্ট ডিজিটাল ব্যানার। এক্ষেত্রে শুধু আপনার ছবি, নাম এবং পদবী (যদি থাকে) দিয়ে ডাউনলোড
                বাটনে চাপ দিলেই আপনার মোবাইলে চলে আসবে আপনার প্রিয় প্রার্থীর সাথে একটি স্মার্ট ডিজিটাল ব্যানার।
                ব্যানারের গ্যালারি থেকে যেকোনো একটি টেমপ্লেট সিলেক্ট করতে পারবেন আপনার ইচ্ছামত

            </div>
            <div class="welcome_text">
                আপনার সমর্থিত জনপ্রতিনিধি কে শুভেচ্ছা জানান।
            </div>
        </div>

        <mat-card class="form_section">
            <div class="form_title"> আপনার সমর্থিত জনপ্রতিনিধি কে শুভেচ্ছা জানান।</div>
            <form class="" [formGroup]="createForm" fxLayoutAlign=" space-around center" fxLayout="row wrap"
                fxLayoutGap="30px">
                <div fxLayout="row " fxLayoutAlign="space-between" fxLayoutGap="24px" fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>জেলা </mat-label>
                            <mat-select formControlName="division" required>
                                <mat-option *ngFor="let divi of division" [value]="divi.name">
                                    {{divi.city}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label> আসন নংঃ</mat-label>
                            <mat-select [disabled]="!createForm.get('division').value" formControlName="name" required
                                (selectionChange)="OnSelect($event)">
                                <mat-option *ngFor="let divi of person" [value]="divi.name">
                                    {{divi.person}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card>
        <div *ngIf="!isPersonActive">
            <mat-card class="person_details" fxLayout="row " fxLayoutAlign=" space-around center">
                <div fxLayout="row " fxLayoutAlign="space-between" fxLayoutGap="24px" fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20">
                        <div>
                            <img class="img_person" src="assets/images/person1.jpeg" alt="person" />
                            <div class="person_name"> নূর উর রহমান মাহমুদ তানিম</div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="80">
                        <div class="person_bio">
                            নূর উর রহমান মাহমুদ তানিম
                            উপদেষ্টা
                            কুমিল্লা মহানগর আওয়ামী লীগ
                            সাবেক ত্রান ও সমাজকল্যান সম্পাদক কুমিল্লা মহানগর আওয়ামী লীগ
                            সাবেক সদস্য
                            বাংলাদেশ ছাত্রলীগ, কেন্দ্রীয় কার্যনির্বাহী সংসদ
                            সাবেক ভি.পি ও জি.এস
                            কুমিল্লা ভিক্টোরিয়া কলেজ
                        </div>

                    </div>
                </div>
            </mat-card>

            <div class="download_info">ডাউনলোড করার পূর্বে নিচের যে কোনো একটি নমুনা চিহ্নিত করুন</div>

            <div class="template_section">
                    <app-img-template *ngFor="let bannerName of assetBannerFileNames; let i = index;" [avatarSrc]="avatarSrc" [name]="name"
                                      [designation]="designation" [bannerName]="bannerName" (click)="onclick(bannerName, i)"
                                      [class.template_box] = "i === isActiveTemplate"
                    ></app-img-template>

            </div>

            <div class="input_container">
                <div class="input_box">
                    <label for="">আপনার ছবি বাছাই করুন</label>
                    <input type="file" (change)="onFileSelected($event)" class="input_text"
                        placeholder="আপনার ছবি বাছাই করুন" />
                </div>
                <div class="input_box">
                    <label for="">আপনার নাম লিখুন</label>
                    <input matInput [(ngModel)]="name" type="text" class="input_text" placeholder="আপনার নাম লিখুন" />
                </div>
                <div class="input_box">
                    <label for="">আপনার পদবী লিখুন</label>
                    <input matInput [(ngModel)]="designation" type="text" class="input_text"
                        placeholder="আপনার পদবী লিখুন" />
                </div>
            </div>
            <button class="gen_btn" (click)="onClickDownload()">Generate</button>


        </div>









        <div>

        </div>


        <!--        <div class="canvas_box">-->
        <!--            <app-bird-simulation-canvas></app-bird-simulation-canvas>-->
        <!--        </div>-->




    </div>
</div>


<!--<div class="canvas_box">-->
<!--    <app-bird-simulation-canvas></app-bird-simulation-canvas>-->
<!--</div>-->