@import "src/@fuse/scss/fuse";
.CoverImage {
    background-image: url('~assets/images/Cover-5.jpg');
    background-color: #eee;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    max-width: 2000px;
    max-height: 1000px;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}


.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
}

.FlexEmbed--3by1:before {
    padding-bottom: 33.33333%;
}
.content_section {
    //margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

    .cover_title_text {
        width: 80%;
        font-family: 'AlinurBanglaborno', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #101010;
        //text-align: center;
    }

    .welcome_text {
        font-family: 'Unicode', sans-serif;
        margin-top: 5rem;
        text-decoration: underline;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
        word-spacing: 5px;
        color: #CA0000;
        text-align: center;
    }

    .form_section {
        width: 80%;
        border: 2px solid #51bbc1;
        box-shadow: 10px 5px 5px #51bbc1;
        border-radius: 5px;
        margin: 7rem auto 4rem;
        padding: 48px 52px 30px 52px;

        .form_title {
            font-style: normal;
            font-family: 'Unicode', sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 150%;
            color: #212121;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.person_details {
    width: 80%;
    text-align: center;
    margin: 7rem auto 4rem;
    padding: 32px;
}

.img_person {
    border: 12px solid #395723;
}

.profile_bio_details{
    margin-top: 5px;
    .name_box{
        background-color: #395723;
        .person_name {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
            text-align: center;
        }
    }
.bio_text_section{
    margin-top: 5px;
    margin-bottom: 5px;
}



}

.bio_text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #212121;
    text-align: end;
}

.bio_info_title{
    font-weight: 700;
    font-family: 'Unicode', sans-serif;
    font-size: 18px;
    line-height: 130%;
    color: #212121;
    text-align: end;
}
.bio_info_subtitle {
    font-style: normal;
    font-family: 'AlinurBanglaborno', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #212121;
    text-align: end;
}
.bio_text2 {
    //font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #212121;
    text-align: end;
}
.fil_up_point{
    color: black !important;
    background-color: black;
    border-radius: 50%;
    font-size: 15px !important;
    min-width: 15px !important;
    width: 15px !important;
    height: 15px !important;
    min-height: 15px !important;
}
.round_up_point{
    font-size: 15px !important;
    min-width: 15px !important;
    width: 15px !important;
    height: 15px !important;
    min-height: 15px !important;
}
.personal_bio_section {
    //margin: 10px;
}

.person_bio {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5C5C5C;
}

.download_info {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: rgb(185, 28, 28);
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.template_section {
    width: 80%;
    margin: auto auto 3rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

.template {
    width: 100%;
    padding: 20px;
    border: 1px solid gray;
    transition: all 0.2s;

    &:hover {
        padding: 10px;
    }

    &.active {
        border: 2px solid #CA0000;
        padding: 20px;
    }

}

.template_box {
    border: 2px solid red;
    padding: 7px;
}

.block {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
}

.img_section {
    width: 280px;
}

.img_container {
    margin: auto;
}

.input_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .input_box {
        width: 100%;
        margin-bottom: 20px;

        label {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #212121;
        }

        input {
            width: 100%;
            height: 40px;
            border: 2px solid #CA0000;
            border-radius: 5px;
            padding: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #212121;
        }
    }

}

.img_cap_box {
    width: 100%;
    height: 61px;
    padding-top: 20px;
    text-align: center;
    margin-top: -20px;
    border-radius: 5px;
    border: 2px solid #dbd2d2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.gen_btn {
    background: #CA0000 !important;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    .btn_text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
}




.template_img_container {
    position: relative;
    width: 100%;
    /* Adjust as needed */
}

.template_img {
    position: relative;
    width: 100%;
    /* Ensure the image fills its container */
}

.content_img_container {
    position: absolute;
    bottom: 4.6%;
    left: 4.5%;
    width: 16.9%;
    height: 16.8%;
    overflow: hidden;
    border-radius: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-device-width: 640px) {
    .margin-full {
        width: 100%!important;
    }
    .mobile_padding{
        padding: 5px;
    }
    .CoverImage {
        background-image: url('~assets/images/mobile.jpg');
        max-width: 606px;
        min-height: 500px;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
    .form_section {
        margin: 6rem auto 4rem!important;
    }
    .content_section {
        margin-top: 40px!important;
    }
    .template_section {
        width: 80%;
        margin: auto auto 3rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
    }
    .cover_title_text {
        font-size: 18px !important;
        line-height: 120% !important;
    }

    .welcome_text {
        margin-top: 4rem !important;
        font-size: 28px !important;
    }

    .img_section {
        width: 300px;
    }

    .img_person {
        height: 200px !important;
    }

    .form_title {
        font-size: 21px !important;
    }
}

@media screen and (max-device-width: 599px) {

    .img_section {
        width:250px;
    }

}
@media screen and (max-device-width: 320px) {

    .img_section {
        width:200px;
    }
    .personal_bio_section {
        margin-left: -22px;
    }
}