<!-- PROGRESS BAR -->
<!--<fuse-progress-bar></fuse-progress-bar>-->
<!-- / PROGRESS BAR -->

<!--preload img-->
<div style="height: 0 !important;overflow: hidden;">
    <img hidden src="assets/images/Cover-5.jpg" alt="Cover"/>
    <img hidden src="assets/images/mobile.jpg" alt="mobile"/>
    <img hidden src="assets/images/bio2.JPG" alt="person"/>
    <img hidden src="assets/templates/tem-1.jpg" alt="tem1">
    <img hidden src="assets/templates/tem-2.jpg" alt="tem2">
    <img hidden src="assets/templates/tem-3.jpg" alt="tem3">
    <img hidden src="assets/templates/tem-4.jpg" alt="tem3">
</div>
<!--preload img-->

<!-- VERTICAL LAYOUT 1 -->
<ng-container *ngIf="fuseConfig.layout.style === 'vertical-layout-1'">
    <vertical-layout-1></vertical-layout-1>
</ng-container>
<!-- / VERTICAL LAYOUT 1 -->
<!-- VERTICAL LAYOUT 2 -->
<ng-container *ngIf="fuseConfig.layout.style === 'vertical-layout-2'">
    <vertical-layout-2></vertical-layout-2>
</ng-container>
<!-- / VERTICAL LAYOUT 2 -->

<!-- VERTICAL LAYOUT 3 -->
<ng-container *ngIf="fuseConfig.layout.style === 'vertical-layout-3'">
    <vertical-layout-3></vertical-layout-3>
</ng-container>
<!-- / VERTICAL LAYOUT 3 -->

<!-- HORIZONTAL LAYOUT 1 -->
<ng-container *ngIf="fuseConfig.layout.style === 'horizontal-layout-1'">
    <horizontal-layout-1></horizontal-layout-1>
</ng-container>
<!-- / HORIZONTAL LAYOUT 1 -->

<!-- THEME OPTIONS PANEL -->
<!--<button mat-icon-button class="warn mat-elevation-z2 theme-options-button"-->
<!--        (click)="toggleSidebarOpen('themeOptionsPanel')">-->
<!--    <mat-icon>settings</mat-icon>-->
<!--</button>-->

<!--<fuse-sidebar name="themeOptionsPanel" class="theme-options-sidebar" position="right" [invisibleOverlay]="true">-->
<!--    <fuse-theme-options></fuse-theme-options>-->
<!--</fuse-sidebar>-->
<!-- / THEME OPTIONS PANEL -->