@font-face {
    font-family:'AlinurBanglaborno';
    src: url('Unicode/BanglabornoUnicode.ttf');
    font-weight: 700;
}

@font-face {
    font-family:'AlinurBanglaborno';
    src: url('Unicode/BanglabornoUnicode.ttf');
    font-weight: 600;
}

@font-face {
    font-family:'AlinurBanglaborno';
    src: url('Unicode/BanglabornoUnicode.ttf');
    font-weight: 500;
}

@font-face {
    font-family:'AlinurBanglaborno';
    src: url('Unicode/BanglabornoUnicode.ttf');
    font-weight: 400;
}
