.template_img_container {
    position: relative;
    width: 100%;
}

.template_img {
    position: relative;
    width: 100%;
}

.content_img_container {
    position: absolute;
    bottom: 4.3%;
    left: 6.4%;
    width: 18%;
    height: 18%;
    overflow: hidden;
    border-radius: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.content_text_container {
    position: absolute;
    left: 26.2%;
    color: white;
    font-family: 'Unicode', sans-serif;

    &.text-1 {
        bottom: 7.5%;
        font-size: 28px;
        font-family: 'Unicode', sans-serif;
    }

    &.text-2 {
        font-size: 20px;
        bottom: 1.7%;
        font-family: "Unicode", sans-serif;
        width: 355px;
    }
}

@media screen and (max-device-width: 2200px) {

    .content_text_container {
        position: absolute;
        left: 26.2%;
        color: white;
        font-family: 'Unicode', sans-serif;

        &.text-1 {
            bottom: 7.5%;
            font-size: 16px;
            font-family: 'Unicode', sans-serif;
        }

        &.text-2 {
            font-size: 10px;
            bottom: 1.7%;
            font-family: 'Unicode', sans-serif;
            width: 170px;
        }
    }
    .limitBottom {
        bottom: 3.7% !important;
    }
}

@media screen and (max-device-width: 2700px) {
    .content_text_container {
        position: absolute;
        left: 26.2%;
        color: white;
        font-family: 'Unicode', sans-serif;

        &.text-1 {
            bottom: 7.5%;
            font-size: 16px;
            font-family: 'Unicode', sans-serif;
        }

        &.text-2 {
            font-size: 10px;
            bottom: 2.7%;
            font-family: 'Unicode', sans-serif;
            width: 170px;
        }
    }
    .limitBottom {
        bottom: 4.7% !important;
    }
}

@media screen and (max-device-width: 1024px) {
    .content_text_container {
        position: absolute;
        left: 26.2%;
        color: white;
        font-family: 'Unicode', sans-serif;

        &.text-1 {
            bottom: 7.5%;
            font-size: 10px;
            font-family: 'Unicode', sans-serif;
        }

        &.text-2 {
            font-size: 7px;
            bottom: 0.7%;
            font-family: "Unicode", sans-serif;
            width: 120px;
        }
    }
    .limitBottom {
        bottom: 3.7% !important;
    }
}

@media screen and (max-device-width: 640px) {
    .content_text_container {
        position: absolute;
        left: 26.2%;
        color: white;
        font-family: 'Unicode', sans-serif;

        &.text-1 {
            bottom: 6.5%;
            font-size: 12px !important;
            font-family: 'Unicode', sans-serif;
        }

        &.text-2 {
            font-size: 9px !important;
            font-family: 'Unicode', sans-serif;
            bottom: 2.7%;
        }
    }
}

@media screen and (max-device-width: 599px) {
    .content_text_container {
        position: absolute;
        left: 26.2%;
        color: white;
        font-family: 'Unicode', sans-serif;

        &.text-1 {
            bottom: 7%;
            font-size: 8px !important;
            font-family: 'Unicode', sans-serif;
        }

        &.text-2 {
            font-size: 5px !important;
            font-family: 'Unicode', sans-serif;
            bottom: 1.7%;
            width: 90px;
        }
    }
}

@media screen and (max-device-width: 425px) {
    .content_text_container {
        position: absolute;
        left: 26.2%;
        color: white;
        font-family: 'Unicode', sans-serif;

        &.text-1 {
            bottom: 8.5%;
            font-size: 6px !important;
            //bottom: 7.5%;
            //font-size: 5px!important;
            font-family: 'Unicode', sans-serif;
        }

        &.text-2 {
            font-size: 6px !important;
            font-family: "Unicode", sans-serif;
            bottom: 1.7%;
            line-height: 8px;
        }
    }
}

@media screen and (max-device-width: 320px) {

    .content_text_container {
        position: absolute;
        left: 26.2%;
        color: white;
        font-family: 'Unicode', sans-serif;

        &.text-1 {
            bottom: 7.5%;
            font-size: 5px !important;
            font-family: 'Unicode', sans-serif;
        }

        &.text-2 {
            font-size: 3px !important;
            font-family: "Unicode", sans-serif;
            bottom: 1.7%;
            width: 70px;
            line-height: normal;

        }
    }
}