// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

@import "assets/fonts/MadanMohan/styleshesst.css";
@import "assets/fonts/AlinurBanglaborno/styleshesst.css";
//body {
//    overflow: hidden;
//    font-family: 'Unicode', sans-serif;
//}

.mt-0 {
    margin-top: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mr-16 {
    margin-right: 16px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.ml-16 {
    margin-left: 16px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mr-24 {
    margin-right: 24px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

.ml-24 {
    margin-left: 24px !important;
}

.mt-28 {
    margin-top: 28px !important;
}

.mr-28 {
    margin-right: 28px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.ml-28 {
    margin-left: 28px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mr-32 {
    margin-right: 32px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.ml-32 {
    margin-left: 32px !important;
}

.mt-36 {
    margin-top: 36px !important;
}

.mr-36 {
    margin-right: 36px !important;
}

.mb-36 {
    margin-bottom: 36px !important;
}

.ml-36 {
    margin-left: 36px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.mt-44 {
    margin-top: 44px !important;
}

.mr-44 {
    margin-right: 44px !important;
}

.mb-44 {
    margin-bottom: 44px !important;
}

.ml-44 {
    margin-left: 44px !important;
}

.mt-48 {
    margin-top: 48px !important;
}

.mr-48 {
    margin-right: 48px !important;
}

.mb-48 {
    margin-bottom: 48px !important;
}

.ml-48 {
    margin-left: 48px !important;
}

.mt-52 {
    margin-top: 52px !important;
}

.mr-52 {
    margin-right: 52px !important;
}

.mb-52 {
    margin-bottom: 52px !important;
}

.ml-52 {
    margin-left: 52px !important;
}

.mt-56 {
    margin-top: 56px !important;
}

.mr-56 {
    margin-right: 56px !important;
}

.mb-56 {
    margin-bottom: 56px !important;
}

.ml-56 {
    margin-left: 56px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.mt-64 {
    margin-top: 64px !important;
}

.mr-64 {
    margin-right: 64px !important;
}

.mb-64 {
    margin-bottom: 64px !important;
}

.ml-64 {
    margin-left: 64px !important;
}

.mt-68 {
    margin-top: 68px !important;
}

.mr-68 {
    margin-right: 68px !important;
}

.mb-68 {
    margin-bottom: 68px !important;
}

.ml-68 {
    margin-left: 68px !important;
}

.mt-72 {
    margin-top: 72px !important;
}

.mr-72 {
    margin-right: 72px !important;
}

.mb-72 {
    margin-bottom: 72px !important;
}

.ml-72 {
    margin-left: 72px !important;
}

.mt-76 {
    margin-top: 76px !important;
}

.mr-76 {
    margin-right: 76px !important;
}

.mb-76 {
    margin-bottom: 76px !important;
}

.ml-76 {
    margin-left: 76px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.mt-84 {
    margin-top: 84px !important;
}

.mr-84 {
    margin-right: 84px !important;
}

.mb-84 {
    margin-bottom: 84px !important;
}

.ml-84 {
    margin-left: 84px !important;
}

.mt-88 {
    margin-top: 88px !important;
}

.mr-88 {
    margin-right: 88px !important;
}

.mb-88 {
    margin-bottom: 88px !important;
}

.ml-88 {
    margin-left: 88px !important;
}

.mt-92 {
    margin-top: 92px !important;
}

.mr-92 {
    margin-right: 92px !important;
}

.mb-92 {
    margin-bottom: 92px !important;
}

.ml-92 {
    margin-left: 92px !important;
}

.mt-96 {
    margin-top: 96px !important;
}

.mr-96 {
    margin-right: 96px !important;
}

.mb-96 {
    margin-bottom: 96px !important;
}

.ml-96 {
    margin-left: 96px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mr-100 {
    margin-right: 100px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}


.pt-0 {
    padding-top: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pl-4 {
    padding-left: 4px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pr-12 {
    padding-right: 12px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

.pl-12 {
    padding-left: 12px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pr-16 {
    padding-right: 16px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pt-24 {
    padding-top: 24px !important;
}

.pr-24 {
    padding-right: 24px !important;
}

.pb-24 {
    padding-bottom: 24px !important;
}

.pl-24 {
    padding-left: 24px !important;
}

.pt-28 {
    padding-top: 28px !important;
}

.pr-28 {
    padding-right: 28px !important;
}

.pb-28 {
    padding-bottom: 28px !important;
}

.pl-28 {
    padding-left: 28px !important;
}

.pt-32 {
    padding-top: 32px !important;
}

.pr-32 {
    padding-right: 32px !important;
}

.pb-32 {
    padding-bottom: 32px !important;
}

.pl-32 {
    padding-left: 32px !important;
}

.pt-36 {
    padding-top: 36px !important;
}

.pr-36 {
    padding-right: 36px !important;
}

.pb-36 {
    padding-bottom: 36px !important;
}

.pl-36 {
    padding-left: 36px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pt-44 {
    padding-top: 44px !important;
}

.pr-44 {
    padding-right: 44px !important;
}

.pb-44 {
    padding-bottom: 44px !important;
}

.pl-44 {
    padding-left: 44px !important;
}

.pt-48 {
    padding-top: 48px !important;
}

.pr-48 {
    padding-right: 48px !important;
}

.pb-48 {
    padding-bottom: 48px !important;
}

.pl-48 {
    padding-left: 48px !important;
}

.pt-52 {
    padding-top: 52px !important;
}

.pr-52 {
    padding-right: 52px !important;
}

.pb-52 {
    padding-bottom: 52px !important;
}

.pl-52 {
    padding-left: 52px !important;
}

.pt-56 {
    padding-top: 56px !important;
}

.pr-56 {
    padding-right: 56px !important;
}

.pb-56 {
    padding-bottom: 56px !important;
}

.pl-56 {
    padding-left: 56px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pt-64 {
    padding-top: 64px !important;
}

.pr-64 {
    padding-right: 64px !important;
}

.pb-64 {
    padding-bottom: 64px !important;
}

.pl-64 {
    padding-left: 64px !important;
}

.pt-68 {
    padding-top: 68px !important;
}

.pr-68 {
    padding-right: 68px !important;
}

.pb-68 {
    padding-bottom: 68px !important;
}

.pl-68 {
    padding-left: 68px !important;
}

.pt-72 {
    padding-top: 72px !important;
}

.pr-72 {
    padding-right: 72px !important;
}

.pb-72 {
    padding-bottom: 72px !important;
}

.pl-72 {
    padding-left: 72px !important;
}

.pt-76 {
    padding-top: 76px !important;
}

.pr-76 {
    padding-right: 76px !important;
}

.pb-76 {
    padding-bottom: 76px !important;
}

.pl-76 {
    padding-left: 76px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pt-84 {
    padding-top: 84px !important;
}

.pr-84 {
    padding-right: 84px !important;
}

.pb-84 {
    padding-bottom: 84px !important;
}

.pl-84 {
    padding-left: 84px !important;
}

.pt-88 {
    padding-top: 88px !important;
}

.pr-88 {
    padding-right: 88px !important;
}

.pb-88 {
    padding-bottom: 88px !important;
}

.pl-88 {
    padding-left: 88px !important;
}

.pt-92 {
    padding-top: 92px !important;
}

.pr-92 {
    padding-right: 92px !important;
}

.pb-92 {
    padding-bottom: 92px !important;
}

.pl-92 {
    padding-left: 92px !important;
}

.pt-96 {
    padding-top: 96px !important;
}

.pr-96 {
    padding-right: 96px !important;
}

.pb-96 {
    padding-bottom: 96px !important;
}

.pl-96 {
    padding-left: 96px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.pt-104 {
    padding-top: 104px !important;
}

.pr-104 {
    padding-right: 104px !important;
}

.pb-104 {
    padding-bottom: 104px !important;
}

.pl-104 {
    padding-left: 104px !important;
}

.pt-108 {
    padding-top: 108px !important;
}

.pr-108 {
    padding-right: 108px !important;
}

.pb-108 {
    padding-bottom: 108px !important;
}

.pl-108 {
    padding-left: 108px !important;
}

.pt-112 {
    padding-top: 112px !important;
}

.pr-112 {
    padding-right: 112px !important;
}

.pb-112 {
    padding-bottom: 112px !important;
}

.pl-112 {
    padding-left: 112px !important;
}

.pt-116 {
    padding-top: 116px !important;
}

.pr-116 {
    padding-right: 116px !important;
}

.pb-116 {
    padding-bottom: 116px !important;
}

.pl-116 {
    padding-left: 116px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pr-120 {
    padding-right: 120px !important;
}

.pb-120 {
    padding-bottom: 120px !important;
}

.pl-120 {
    padding-left: 120px !important;
}

.pt-124 {
    padding-top: 124px !important;
}

.pr-124 {
    padding-right: 124px !important;
}

.pb-124 {
    padding-bottom: 124px !important;
}

.pl-124 {
    padding-left: 124px !important;
}

.pt-128 {
    padding-top: 128px !important;
}

.pr-128 {
    padding-right: 128px !important;
}

.pb-128 {
    padding-bottom: 128px !important;
}

.pl-128 {
    padding-left: 128px !important;
}

.pt-132 {
    padding-top: 132px !important;
}

.pr-132 {
    padding-right: 132px !important;
}

.pb-132 {
    padding-bottom: 132px !important;
}

.pl-132 {
    padding-left: 132px !important;
}

.pt-136 {
    padding-top: 136px !important;
}

.pr-136 {
    padding-right: 136px !important;
}

.pb-136 {
    padding-bottom: 136px !important;
}

.pl-136 {
    padding-left: 136px !important;
}

.pt-140 {
    padding-top: 140px !important;
}

.pr-140 {
    padding-right: 140px !important;
}

.pb-140 {
    padding-bottom: 140px !important;
}

.pl-140 {
    padding-left: 140px !important;
}

.pt-144 {
    padding-top: 144px !important;
}

.pr-144 {
    padding-right: 144px !important;
}

.pb-144 {
    padding-bottom: 144px !important;
}

.pl-144 {
    padding-left: 144px !important;
}

.pt-148 {
    padding-top: 148px !important;
}

.pr-148 {
    padding-right: 148px !important;
}

.pb-148 {
    padding-bottom: 148px !important;
}

.pl-148 {
    padding-left: 148px !important;
}

.pt-152 {
    padding-top: 152px !important;
}

.pr-152 {
    padding-right: 152px !important;
}

.pb-152 {
    padding-bottom: 152px !important;
}

.pl-152 {
    padding-left: 152px !important;
}

.pt-156 {
    padding-top: 156px !important;
}

.pr-156 {
    padding-right: 156px !important;
}

.pb-156 {
    padding-bottom: 156px !important;
}

.pl-156 {
    padding-left: 156px !important;
}

.pt-160 {
    padding-top: 160px !important;
}

.pr-160 {
    padding-right: 160px !important;
}

.pb-160 {
    padding-bottom: 160px !important;
}

.pl-160 {
    padding-left: 160px !important;
}

.pt-164 {
    padding-top: 164px !important;
}

.pr-164 {
    padding-right: 164px !important;
}

.pb-164 {
    padding-bottom: 164px !important;
}

.pl-164 {
    padding-left: 164px !important;
}

.pt-168 {
    padding-top: 168px !important;
}

.pr-168 {
    padding-right: 168px !important;
}

.pb-168 {
    padding-bottom: 168px !important;
}

.pl-168 {
    padding-left: 168px !important;
}

.pt-172 {
    padding-top: 172px !important;
}

.pr-172 {
    padding-right: 172px !important;
}

.pb-172 {
    padding-bottom: 172px !important;
}

.pl-172 {
    padding-left: 172px !important;
}

.pt-176 {
    padding-top: 176px !important;
}

.pr-176 {
    padding-right: 176px !important;
}

.pb-176 {
    padding-bottom: 176px !important;
}

.pl-176 {
    padding-left: 176px !important;
}

.pt-180 {
    padding-top: 180px !important;
}

.pr-180 {
    padding-right: 180px !important;
}

.pb-180 {
    padding-bottom: 180px !important;
}

.pl-180 {
    padding-left: 180px !important;
}

.pt-184 {
    padding-top: 184px !important;
}

.pr-184 {
    padding-right: 184px !important;
}

.pb-184 {
    padding-bottom: 184px !important;
}

.pl-184 {
    padding-left: 184px !important;
}

.pt-188 {
    padding-top: 188px !important;
}

.pr-188 {
    padding-right: 188px !important;
}

.pb-188 {
    padding-bottom: 188px !important;
}

.pl-188 {
    padding-left: 188px !important;
}

.pt-192 {
    padding-top: 192px !important;
}

.pr-192 {
    padding-right: 192px !important;
}

.pb-192 {
    padding-bottom: 192px !important;
}

.pl-192 {
    padding-left: 192px !important;
}

.pt-196 {
    padding-top: 196px !important;
}

.pr-196 {
    padding-right: 196px !important;
}

.pb-196 {
    padding-bottom: 196px !important;
}

.pl-196 {
    padding-left: 196px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pr-200 {
    padding-right: 200px !important;
}

.pb-200 {
    padding-bottom: 200px !important;
}

.pl-200 {
    padding-left: 200px !important;
}

.pt-204 {
    padding-top: 204px !important;
}

.pr-204 {
    padding-right: 204px !important;
}

.pb-204 {
    padding-bottom: 204px !important;
}

.pl-204 {
    padding-left: 204px !important;
}

.pt-208 {
    padding-top: 208px !important;
}

.pr-208 {
    padding-right: 208px !important;
}

.pb-208 {
    padding-bottom: 208px !important;
}

.pl-208 {
    padding-left: 208px !important;
}

.pt-212 {
    padding-top: 212px !important;
}

.pr-212 {
    padding-right: 212px !important;
}

.pb-212 {
    padding-bottom: 212px !important;
}

.pl-212 {
    padding-left: 212px !important;
}

.pt-216 {
    padding-top: 216px !important;
}

.pr-216 {
    padding-right: 216px !important;
}

.pb-216 {
    padding-bottom: 216px !important;
}

.pl-216 {
    padding-left: 216px !important;
}

.pt-220 {
    padding-top: 220px !important;
}

.pr-220 {
    padding-right: 220px !important;
}

.pb-220 {
    padding-bottom: 220px !important;
}

.pl-220 {
    padding-left: 220px !important;
}

.pt-224 {
    padding-top: 224px !important;
}

.pr-224 {
    padding-right: 224px !important;
}

.pb-224 {
    padding-bottom: 224px !important;
}

.pl-224 {
    padding-left: 224px !important;
}

.pt-228 {
    padding-top: 228px !important;
}

.pr-228 {
    padding-right: 228px !important;
}

.pb-228 {
    padding-bottom: 228px !important;
}

.pl-228 {
    padding-left: 228px !important;
}

.pt-232 {
    padding-top: 232px !important;
}

.pr-232 {
    padding-right: 232px !important;
}

.pb-232 {
    padding-bottom: 232px !important;
}

.pl-232 {
    padding-left: 232px !important;
}

.pt-236 {
    padding-top: 236px !important;
}

.pr-236 {
    padding-right: 236px !important;
}

.pb-236 {
    padding-bottom: 236px !important;
}

.pl-236 {
    padding-left: 236px !important;
}

.pt-240 {
    padding-top: 240px !important;
}

.pr-240 {
    padding-right: 240px !important;
}

.pb-240 {
    padding-bottom: 240px !important;
}

.pl-240 {
    padding-left: 240px !important;
}

.pt-244 {
    padding-top: 244px !important;
}

.pr-244 {
    padding-right: 244px !important;
}

.pb-244 {
    padding-bottom: 244px !important;
}

.pl-244 {
    padding-left: 244px !important;
}

.pt-248 {
    padding-top: 248px !important;
}

.pr-248 {
    padding-right: 248px !important;
}

.pb-248 {
    padding-bottom: 248px !important;
}

.pl-248 {
    padding-left: 248px !important;
}

.pt-252 {
    padding-top: 252px !important;
}

.pr-252 {
    padding-right: 252px !important;
}

.pb-252 {
    padding-bottom: 252px !important;
}

.pl-252 {
    padding-left: 252px !important;
}

.pt-256 {
    padding-top: 256px !important;
}

.pr-256 {
    padding-right: 256px !important;
}

.pb-256 {
    padding-bottom: 256px !important;
}

.pl-256 {
    padding-left: 256px !important;
}